
.bgHeader
	.montsia
		background-size 100% 380px
		height 380px
		top 60px
.core
.menu
	background none
	.botones
		.botonMenu
			a
				text-decoration none
			.compartir
			.menuResizer
				display none
			.mapa
				background secundario
				border-radius 50%
				bottom 20px
				color rgba(white,1)
				font-size 1.15em
				height 50px
				line-height 2.15em
				position fixed
				right 20px
				text-align center
				width 50px
				&:after
					content '\e606'
					font-family icono
					font-size .9em
				&:active
					color rgba(white,.3)
	.resizer
		display none
	.social
		background none
		border-radius 4px
		border-top none
		left 10px 
		position fixed
		bottom 10px
		height 120px
		width 200px
		.botonSocial
			.facebook
				position relative
				top .5em
				left 20px
				
			.twitter
				position relative
				top 2.5em
				left -110px
