
header
	.bgHeader
		.montsia
			background-size 100% 380px
			height 380px
			top 60px
.core
.menu
	background none
	.botones
		.botonMenu
			.compartir
			.menuResizer
				display none
			.mapa
				background secundario
				border-radius 50%
				bottom 10px
				line-height 2em
				font-size 1.15em
				height 50px
				position fixed
				right 10px
				text-align center
				width 50px
				&:after
					content '\e607'
					font-family icono
					font-size .7em
				&:active
					color rgba(white,.3)
	.resizer
		background none
		border-top none
		box-shadow none
		color rgba(white,.7)
		padding 0
		.botonResizer
			font-weight 400
			text-align center
			.disminuir
				border-right 1px solid rgba(#283148,.4)
				box-shadow 1px 0px 0px rgba(white,.1)
				&:after
					content 'A'
					font-size .7em
				&:active
					color rgba(white,.3)
			.aumentar
				&:after
					content 'A'
					font-size 1.2em
				&:active
						color rgba(white,.3)
	.social
		background rgba(secundario,.8)
		border-radius 4px
		border-top none
		left 10px 
		position fixed
		bottom 10px
		height 120px
		width 200px
		.botonSocial
			.facebook
				position relative
				top .5em
				left 1.5em
				
			.twitter
				position relative
				top 2.5em
				left -5em
